@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEBUG */
/* * {
  @apply outline-dashed;
  @apply outline-1;
  @apply outline-red-700;
} */

html,
body {
  /* dvh for a UI that auto-stretches as the UA interface changes */
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}
