.foxed {
  background-image: url('/static/imgs/vellum-texture.png'),
    linear-gradient(150deg, #cbe7d8, #fffdc0, #fdeaae, #fcc385, #f8a45a, #fb8c37);
  background-size: 135px, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
}
